@model IEnumerable<NetFreelancer.Models.Freelancer>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron" style="background:url('/Content/images/header.jpg');background-repeat:no-repeat">
  <div class="col-xs-8" >

  </div>
    <div class="col-xs-4">

    </div>
</div>
<h2 style="background-color:#f6d14b">Index</h2>
<div class="container-fluid">


    @foreach (var item in Model)
    {

        <div class="col-md-6 row">
            <div class="col-md-3">
                   <img class="img-circle img-responsive" src="https://www.shareicon.net/data/128x128/2016/06/25/786532_people_512x512.png" />
            </div>
            <div class="col-md-9">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                essentially unchanged. </p>
            </div>
        </div>
        }

    </div>